<h3>CPI Primary Palette</h3>
<p>The primary CPI color palette is used in the full color logo and should always be used as a visual base to all CPI communication materials.</p>
<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #008DC4;"></span>
		<span class="sg-label">
			CPI Primary Brand Color <br />			
			$cpi_pri <br />
			#008DC4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #727977;"></span>
		<span class="sg-label">
			CPI Secondary Brand Color</br />
			$cpi_sec <br />
			#727977
		</span>
	</li>
			<li>
		<span class="sg-swatch" style="background: #82C4E2;"></span>
		<span class="sg-label">
			CPI Primary Tint<br />
			$cpi_pri_lt <br />
			#82C4E2
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #004760;"></span>
		<span class="sg-label">
			CPI Primary Shade<br />
			$cpi_pri_dk <br />
			#004760
		</span>
	</li>
</ul>


<h3>Secondary Color Palette</h3>
<p>The secondary CPI color palette has some of the base colors from the CPI specialized offerings and can be used as accents to highlight information and create visual interest.</p>

<p>The secondary colors support the CPI primary colors. Except in rare cases, one should avoid using the full secondary palette in any single communication piece. If a secondary color is detracting from the identity,
its application should be reconsidered.</p>

<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #83B13B;"></span>
		<span class="sg-label">
			NCI<br />
			$nci_pri <br />
			#83B13B
		</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #9987B2;"></span>
		<span class="sg-label">
			DCS<br />
			$dcs_pri <br />
			#9987B2
		</span>
	</li>
			<li>
		<span class="sg-swatch" style="background: #D55857;"></span>
		<span class="sg-label">
			PTP<br />
			$ptp_pri <br />
			#D55857
		</span>
	</li>		<li>
		<span class="sg-swatch" style="background: #26A49C;"></span>
		<span class="sg-label">
			MAPA<br />
			$mapa_pri <br />
			#26A49C
		</span>
	</li>
</ul>

<h3>Complementary Color Palette</h3>
<p>The complementary CPI color palette is designed to make primary colors pop.</p>
<p>Use with care, if the complementary color distracts do not use. Rather, apply hues and tone of primary color
to create visually appealing elements.</p>

<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #FFBB4F;"></span>
		<span class="sg-label">
			Merry Marigold <br />
			$color-complementary-1 <br />
			#FFBB4F
		</span>
	</li>
			<li>
		<span class="sg-swatch" style="background: #805558;"></span>
		<span class="sg-label">
			Tawny Tan <br />
			$color-complementary-2 <br />
			#805558
		</span>
	</li>
