<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">
            $color-white <br />
            #fff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">
			$color-gray-20 <br />
			#ccc
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #999;"></span>
		<span class="sg-label">
			$color-gray-40 <br />
			#999
		</span>
	</li>
		<li>
		<span class="sg-swatch" style="background: #7f7f7f;"></span>
		<span class="sg-label">
			$color-gray-50 <br />
			#7f7f7f
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">
			$color-gray-60 <br />
			#666
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">
			$color-gray-80 <br />
			#333
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			$color-black <br />
			#000000
		</span>
	</li>
</ul>
