<div>Primary font: "Lato", "Helvetica", "Arial", sans-serif;</div>
<div><em>Primary font italic: "Lato", "Helvetica", "Arial", sans-serif;</em></div>
<div><strong>Primary font bold: "Lato", "Helvetica", "Arial", sans-serif;</strong></div>
<div class="font-secondary">Secondary font: "Zilla Slab", serif;</div>
<div class="font-secondary"><em>Secondary font italic: "Zilla Slab", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "Zilla Slab", serif;</strong></div>
<div class="font-tertiary">Tertiary font: house-script, sans-serif;</div>
