{{> organisms-header }}
<main role="main">

<div class="container">
		<h1>Welcome to the CPI pattern library!</h1>

<p>This pattern library is built with <a href=“http://patternlab.io/“ target=“_blank”>Pattern Lab</a> utilizing the principles of <a href=“http://bradfrost.com/blog/post/atomic-web-design/“ target="_blank">atomic design</a>. In conjunction with the CPI Style Guide, this library should help provide a visual vocabulary for designing on the web with the CPI brand in mind.</p>

<p>The main CPI site is currently undergoing a massive redesign, so many assets will not be present. This library focuses primarily on microsites, landing pages, and other digital materials that are designed separately from the main site. Most of these projects are built on a custom, locally hosted version of the <a href=“https://getbootstrap.com/“ target="_blank">Bootstrap framework</a> (Bootstrap 3).</p>

<p>Please note that this project is very young and there are still a lot of components yet to standardize and catalog! It's a work in progress! For more examples of CPI microsites, visit the links below:</p>
<ul>
 <li><a href="https://www.crisisprevention.com/nursing" target="_blank">Nursing microsite</a></li>
 <li><a href="https://www.crisisprevention.com/enhanced" target="_blank">Enhanced content announcement</a></li>
 <li><a href="https://www.crisisprevention.com/results" target="_blank">Results hub</a></li>
</div>
</main>
{{> organisms-footer }}
