<footer class="c-footer" role="contentinfo">

  <div class="align-center">
    <a href="#home" class="c-logo-footer-link">
      <img src="https://www.crisisprevention.com/CPI/media/Media/results/cpi_logo.png" class="c-logo c-logo-footer-link__img" alt="Crisis Prevention Institute" />
    </a><!-- end c-logo -->
    <p class="c-footer__info">10850 W. Park Place, Suite 600 | Milwaukee, WI 53224 | 888.426.2184</p>
    <p class="copyright">&copy; 2018 Crisis Prevention Institute. All rights reserved.</p>
    
  <div class="social-container">
        <div class="social-icon"><a href="https://www.youtube.com/user/crisisprevention" target="_blank"><img src="https://www.crisisprevention.com/CPI/media/Media/results/social_youtube.png"></a></div>
        <div class="social-icon"><a href="https://www.linkedin.com/company/crisis-prevention-institute" target="_blank"><img src="https://www.crisisprevention.com/CPI/media/Media/results/social_linkedin.png"></a></div>
        <div class="social-icon"><a href="https://twitter.com/cpi_training" target="_blank"><img src="https://www.crisisprevention.com/CPI/media/Media/results/social_twitter.png"></a></div>
        <div class="social-icon"><a href="https://www.facebook.com/CPI.Training/" target="_blank"><img src="https://www.crisisprevention.com/CPI/media/Media/results/social_facebook.png"></a></div>
      </div>
  
  </div><!-- end l -->

</footer><!-- end c-footer --> 
