/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * Media List
 */
.c-media-list__item {
	margin-bottom: 1.5em;
}

/**
 * Source List
 */
.source-list {
    color: #999999;
    font-size: $font-size-small-2;
}