<section class="c-section text-center">
  <div class="container">
    <div class="row">
     {{#visual-links}}
     {{>molecules-block-visual-link}}
     {{/visual-links}}
    </div>
   </div>
  </section>