<section class="c-section text-center">
  <div class="container">
    <div class="row">
      {{#dynamic-counter}}
      {{> molecules-block-dynamic-count}}
      {{/dynamic-counter}}
    </div>
  <div class="text-center stat-title cyan-text"><h2>{{ headline.medium }}</h2></div><br /> 
  <div class="row">
      {{#stats}}
      {{>molecules-block-stat}}
      {{/stats}}

  </div>
</div>

</section>
<div class="container">
{{>molecules-list-sources}}
</div>