       <div class="col-md-{{ bootstrap-columns }} text-{{align}}">
        <div class="img-btn {{align}}-block">
         {{> atoms-image-button }}
        </div>
        <a href="{{ button-url }}">

         {{> atoms-button }}
        </a>

        <h4>{{ headline.medium }}</h4>
       </div>