    <div class="col-md-{{ bootstrap-columns }} stat-counter">
      <div class="count-number">{{qualifier-before}}<span class="count" data-count="{{data-count}}"></span>{{qualifier-after}}</div>
      <div class="stat-detail center-block"><h3>{{headline.short}}<sup>[{{ reference }}]</sup></h3></div>
    </div>